.task-stats {
  padding-top: 20px;
  min-height: 120vh;

  .task-summary {
    padding: 20px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.593);
    border-radius: 20px;
    box-shadow: inset;
    box-shadow: 0 0 30px 10px rgba(156, 148, 148, 0.5);
    text-align: center;
  }

  .chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; // Adjust as needed
    height: auto; // Adjust as needed
    max-width: 600px; // Adjust as needed
    margin: 0 auto; // Center the chart
    padding: 20px; // Add padding if needed
    background-color: #f9f9f9; // Background color for the container
    border-radius: 20px;
    box-shadow: inset;
    box-shadow: 0 0 30px 10px rgba(156, 148, 148, 0.5);
  }
}
