<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo">
      <a class="nav-links" routerLink="/">Arda Tasks</a>
    </div>
    <div class="menu-icon"></div>
    <ul class="nav-menu active">
      <li class="nav-item">
        <a class="nav-links" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-links" routerLink="/tasks">Task Summary</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-links" routerLink="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-links" routerLink="/about">About</a>
      </li> -->
    </ul>
  </div>
</nav>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
