.task {
  margin: 10px;
  padding: 10px;
  border: 1px solid gray;
  // background-color: rgb(45, 43, 43);
}

.task-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-name {
  font-weight: bold;
  font-size: larger;
}

.task-body {
  word-wrap: break-word;
}

.task-checkbox {
  font-size: larger;
  padding: 2px;
  padding-right: 10px;

  // background-color: rgba(215, 206, 206, 0.469);
  border-radius: 7px;
}

.material-symbols-outlined {
  position: relative;
  right: 0;
  cursor: pointer;
}

.material-symbols-outlined:active {
  transform: translateY(2px);
}

.task-title-wrapper {
  display: flex;
  align-items: center;
}

.task-checkbox {
  margin-right: 10px; /* Adjust as needed */
}

.delete-icon {
  margin-left: auto; /* This will push the delete icon to the right */
}
