.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
  background-color: #cfcfcf;
  height: 40px;
  color: black;

  .footer-title {
    text-align: center;
  }
}
